<div class="container">
<p id="notice"><%= notice %></p>

<div class="header">
    <h3>Project Euler</h3>
</div>
<br><br>


<div class="section">
  <p>This is a lovely space for me to keep track my progression through Project Euler</p>
</div>
  <br>
<% @project_eulers.each do |project_euler| %>
<div class="link row clearfix">
<div class="section">
<h2>
  <%= link_to project_euler.title, project_euler %></h2>
  <h4><small class="author">Submitted <%= time_ago_in_words(project_euler.created_at) %>
    <br>
    <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_blog_path(project_euler) %></td>
          <td><%= link_to 'Destroy', project_euler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
  </small>
</h4>
</div>
<br>

</div>
<% end %>

<br>

<% if user_signed_in? %>

  <button class="button"><%= link_to 'New Project euler', new_project_euler_path %></button>       
<% end %>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="footer">
    <footer>
      <h4 class="wrapper">JASONSUTTER</h4>
      <div>
    
        <img src="../images/test.JPG" alt="Footer-Portrait">
        <p class="wrapper">Jason is an aspiring programmer based out of San Francisco, CA. He is currently attending Devboot Camp we he is focused on development</p>
        <p class="wrapper"><a href="https://github.com/jasonsutter87"><i class="fa fa-github-square fa-2x"></i></a>     <a href="https://www.linkedin.com/in/jason-sutter-23459b1a"><i class="fa fa-linkedin-square fa-2x"></i></a></p>
      </div>
      <p class="Copyright">Copyright Jason Sutter &copy; 2016 - jasonanimation.net</p>
      <p class="Copyright">CONTENT LICENSED UNDER THE CREATIVE COMMONS <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a></p>

      
    </footer>
  </div>

 