<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @project_euler.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project_euler.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @project_euler.post %>
</p>

<%= link_to 'Edit', edit_project_euler_path(@project_euler) %> |
<%= link_to 'Back', project_eulers_path %>
